*/5      3-7,13-16        * * * root cd /app && env - `cat /home/cron-env.sh` /usr/local/bin/python -m mogiminsk_interaction.parsing.loader 1>/proc/1/fd/1 2>/proc/1/fd/2
*/15     0-2,8-12,17-23   * * * root cd /app && env - `cat /home/cron-env.sh` /usr/local/bin/python -m mogiminsk_interaction.parsing.loader 1>/proc/1/fd/1 2>/proc/1/fd/2
0        */3               * * * root cd /app && env - `cat /home/cron-env.sh` /usr/local/bin/python -m mogiminsk_interaction.parsing.stations.loader 1>/proc/1/fd/1 2>/proc/1/fd/2
