# core
aiohttp
SQLAlchemy
psycopg2-binary

# utils
babel
dateparser
speaklater

# html parsing
lxml
cssselect

# unittests
pytest
factory-boy
freezegun

# error handling
raven

# server
gunicorn
uvloop
